# Docker-compose environments for internal substitution

# Traefik

# For ssl certificates
CASERVER=staging  # staging, production. default: staging

# Generate password: sudo apt update && sudo apt install apache2-utils && htpasswd -nb USER PASSWORD
# The symbol like $A causes problems.
# See what happens to:
# docker-compose -f 1-docker-compose.yaml config
LOGIN=admin
PASS_PART_1=$apr1$13wr.jVu$
PASS_PART_2=A/jaVwgCmaAkAtZcp58IB1

# Filters access to certain web pages.
IPWHITELIST="119.164.5.60/32, 183.230.48.213/32"  # "IP, IP"

# Yandex Disk OAuth Token
YANDEX_TOKEN=AQAXAAAQt325AAfmum7j-xJuI05MvxkwB_1nMao